@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --Background: #070606;
  --white: #fff;
  --light-gray: #dcdcdc;
  --link-color: #bdbdbd;
  --green: #2b892e;
  --emerald: #48d64c;
}

* {
  @apply box-border p-0 m-0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  @apply max-w-full overflow-x-hidden;
  font-family: 'SF Pro Display', sans-serif;
  background-color: var(--Background);
  color: var(--white);
  scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.5rem;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--link-color);
  border-radius: 0.5rem;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--Background);
}

a {
  @apply no-underline;
  color: inherit;
}

.parallax {
  @apply overflow-hidden m-0 flex-nowrap flex;
  white-space: nowrap;
}

.parallax .scroller {
  @apply flex-nowrap flex;
  white-space: nowrap;
}

.scroller span {
  @apply block mr-20; /* Tailwind default spacing is in multiples of 4px, so 5rem = 20 */
}

.not_complete {
  @apply hidden;
}
